﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><b>HTTPPost Method</b></h3>
        @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
        { <table style="font-family:Arial; font-size:medium; color:darkblue">
            <tr>
                <td><b>First Name</b></td>
                <td >@Html.TextBox("FirstName")</td>
            </tr>
            
            <tr>
                <td><b>Middle Name</b></td>
                <td>@Html.TextBox("MidName")</td>
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>@Html.TextBox("LastName")</td>
            </tr>
            <tr>
                <td><b>Age</b></td>
                <td>@Html.TextBox("Age")</td>
            </tr>
            <tr>
                  <tr>
                <td><b>Sex</b></td>
                <td>@Html.DropDownList("Gender", new List<SelectListItem>
                {
                    new SelectListItem { Text = "Male", Value = "Male", Selected=true},                  
                    new SelectListItem { Text = "Female", Value = "Female"},
                    
                }, "Select Sex")
                </td>
            </tr>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>@Html.TextBox("Address")</td>
            </tr>
        </table>
        <br /><br />
        <input type="submit" value="Submit"  />
        }
        <h4 style="color:purple">
            
            Hello @ViewBag.pretext @ViewBag.FirstName @ViewBag.MidName @ViewBag.LastName, (@ViewBag.Age) from @ViewBag.Address
            <br />
        </h4>


</div>
