﻿@model BlotterRecords.Web.ViewModels.CreateBlotterViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4 class="text-info">Add New Blotter</h4>
<hr />
<div class="row">
    <div class="col-md-4 border container" style="padding: 30px;">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complain" class="control-label"></label>
                <textarea asp-for="Complain" class="form-control" ></textarea>
                <span asp-validation-for="Complain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Officer" class="control-label"></label>
                <input asp-for="Officer" class="form-control" />
                <span asp-validation-for="Officer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" />
                <span asp-validation-for="Picture" class="text-danger"></span>

            </div>

                        <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
