﻿@model BlotterRecords.Web.ViewModels.DetailsBlotterViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 >Details</h1>

<div>
    <h4 class="text-info">Details Blotter</h4>
    <hr />
    <dl  class="col-md-4 border container" style="padding: 30px;"o>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            <img src="/Images/@Model.Picture" width="200" height="200" class="img-thumbnail"> 
          
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Officer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Officer)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
