﻿@model BlotterRecords.Web.ViewModels.EditBlotterViewModel

@{
    ViewData["Title"] = "Edit";
    var photoPath = Model.ExistingPicture;
}

<h1>Create</h1>

<h4 class="text-info" >Edit Blotter</h4>
<hr />
<div class="row">
    <div  class="col-md-4 border container" style="padding: 30px;">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input hidden asp-for="Id">
            <input hidden asp-for="ExistingPicture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complain" class="control-label"></label>
                <textarea asp-for="Complain" class="form-control"></textarea>
                <span asp-validation-for="Complain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Officer" class="control-label"></label>
                <input asp-for="Officer" class="form-control" />
                <span asp-validation-for="Officer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Picture" class="control-label">Click Here to change picture</label>
                <input asp-for="Picture" />
                <span asp-validation-for="Picture" class="text-danger"></span>

            </div>
            <div class="col-sm-10">
                <img src="/Images/@photoPath" width="200" height="200" class="img-thumbnail">

            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-controller="blotter" asp-action="index">Cancel</a>
            </div>

          
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
