﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="calculator"  style="width: 25%; margin-left: 35%;" >
		<div >
	    <span v-for="log in logs">{{ log }}</span>
	  </div>

	   <input type="string" class="form-control mb-3"  v-model="value" @@keyup.enter="getResult()">


	   <div >
		    <div >
		      <button class="btn btn-success mb-2" @@click="addExpresion(7)">7</button>
		   
		      <button  class="btn btn-success mb-2" @@click="addExpresion(8)">8</button>
		   
		      <button   class="btn btn-success mb-2"@@click="addExpresion(9)">9</button>

		      <button  class="btn btn-success mb-2" @@click="clear()">C</button>

		      <button  class="btn btn-success mb-2" @@click="clearE()">CE</button>

		      
		    </div>
  		</div>

  		<div>
		    <div >
		      <button  class="btn btn-success mb-2" @@click="addExpresion(4)">4</button>
		 
		      <button  class="btn btn-success mb-2" @@click="addExpresion(5)">5</button>
		  
		      <button  class="btn btn-success mb-2" @@click="addExpresion(6)">6</button>
		  
		  	<button class="btn btn-success mb-2" @@click="addExpresion('/')">/</button>

		  	<button   class="btn btn-success mb-2"@@click="addExpresion('*')">*</button>

		      
		    </div>
	  </div>

	  <div >
		    <div >
		      <button class="btn btn-success mb-2" @@click="addExpresion(1)">1</button>
		  
		      <button class="btn btn-success mb-2" @@click="addExpresion(2)">2</button>
		    
		      <button class="btn btn-success mb-2" @@click="addExpresion(3)">3</button>
		      <button  class="btn btn-success mb-2" style="width: 70px"@@click="addExpresion('-')">-</button>
		    
		      
		</div>
  	</div>
 	
  	<div >
	    <div>
	      <button class="btn btn-success mb-2" @@click="addExpresion(0)">0</button>
	    
	      <button class="btn btn-success mb-2" @@click="addExpresion('.')">.</button>
	    
	      <button class="btn btn-success mb-2" @@click="getResult()">=</button>

	      <button class="btn btn-success mb-2" style="width: 70px" @@click="addExpresion('+')">+</button>
	    </div>
  </div>

</div>