﻿@{
    ViewData["Title"] = "Home Page";
}


<div id="logger" style="width: 50%; margin-left: 25%;" >
		<h2 align="center">Phone Book Logger</h2>  
	
		<input type="text" id="textname" placeholder="Enter Your Name" class="form-control name_list mb-2" v-model.lazy="name">
		<input type="number" id="textnumber" placeholder="Enter Your Number" class="form-control name_list" v-model.lazy="number">

	
		<button style="float: right;" type="button" name="add" id="add" class="btn btn-success" @@click="addnew">Add More</button>


		<div class="table-responsive">  
              <table style="margin-top: 15px;"class="table table-bordered" id="dynamic_field">  
              			<tr>
						   <th>Name</th>
						   <th>Contact</th>
					 	</tr>
                      <tr  v-for="(log, index) in inputs">  
                      		<td><input type="text"  v-model="log.inname" class="form-control name_list" ></td>
                      		<td><input type="text"  v-model="log.innumber" class="form-control name_list" ></td>
                      		<td><button type="button" name="remove"  class="btn btn-danger btn_remove" @@click="remove(index)">X</button></td>

                                         
                      </tr>  
            </table>  
                               
         </div>  
		
</div>

